#textDrop
{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 900;
}
.textDropLetter
{
    color: rgb(71, 71, 71);
}
.textDropLetter:hover
{
    transition: color 0.5s linear;
    color:rgb(67, 128, 197);
}
.textDropS
{
    opacity: 0;
    animation: drop .4s linear forwards;
}
.textDropU
{
    opacity: 0;
    animation: drop .6s linear forwards;
}
.textDropD
{
    opacity: 0;
    animation: drop 1.2s linear forwards;
}
.textDropO
{
    opacity: 0;
    animation: drop 1s linear forwards;
}
.textDropK
{
    opacity: 0;
    animation: drop 1.2s linear forwards;
}
.textDropW
{
    opacity: 0;
    animation: drop 1s linear forwards;
}
.textDropI
{
    opacity: 0;
    animation: drop 1.6s linear forwards;
}
.textDropZ
{
    opacity: 0;
    animation: drop 1.8s linear forwards;
}
.textDropEx
{
    opacity: 0;
    animation: drop 2.4s linear forwards;
}
@keyframes drop {
    0%{transform: translateY(-200px);}
    5%{opacity: 0.5;}
    50%{transform: translateY(0px);}
    60%{transform: translateY(-16px)}
    70%{transform: translateY(-22px);}
    100%{transform:translateY(0px); opacity: 1;}
}